@{
    ViewData["Title"] = "Linkitty";
}


<section class="features" id="features">
    <div class="container">
         <!-- Cat image floating above form -->
        <div class="cat-section">
            <img src="~/img/cat_stare_no_background.png" alt="Cat staring" class="cat-image">
        </div>

        <div class="url-shorten-feature">

            <form class="url-shorten-form" asp-action="ShortenUrl" method="post">
                <div class="input-row">
                    <input type="text" name="url" 
                           class="url-input" 
                           placeholder="Shorten link here..." 
                           autocomplete="off">
                    <button type="submit" class="btn">SHORTEN IT</button>
                </div>
            </form>
            <form class="url-shorten-form" asp-action="FollowLink" method="post">
                <div class="input-row">
                    <input type="text" name="url" 
                           class="url-input" 
                           placeholder="Enter short code or short link..." 
                           autocomplete="off">
                    <button type="submit" class="btn">FOLLOW LINK </button>
                </div>
            </form>


            <div class="url-shorten-results">
                @if (ViewBag.ShortUrl != null)
                {
                    <div class="alert alert-success mt-3">
                        Your shortened link: 
                        <a href="@ViewBag.ShortUrl" target="_blank">@ViewBag.ShortUrl</a>
                    </div>
                }
                else if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger mt-3">
                        @ViewBag.Error
                    </div>
                }
            </div>
        </div>
    </div>
</section>



