html {
    font-size: 14px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    .flex-between

{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.flex-ver-top {
    align-items: flex-start;
}

.scale-effect:active {
    transform: scale(0.88);
    transition: 0.2s;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between GitHub link and GIF */
}

.cat-section {
    position: absolute;
    top: 0;
    left: 30%;
    transform: translateX(-50%);
    transform:translateY(-25%)
}

.cat-image {
    width: 350px;
    height: auto;
    margin-bottom: -20px;
}

.cat-dance {
    display: block; /* Ensures it takes its own space */
    margin: 0 auto 10px; /* Centers the GIF and adds space below */
    width: 300px; /* Adjust size */
    height: auto;
}

/*html, body {

    background-image: url("/img/nature_backdrop.png");*/ /* Replace with your actual image path */
    /*background-size: cover;*/ /* Ensures it covers the entire background */
    /*background-position: center;*/ /* Centers the image */
    /*background-repeat: no-repeat;*/ /* Prevents tiling */
/*}*/



.landing {
    display: flex;
    justify-content: center; /* center horizontally */
    padding: 5px 0;
    margin-left: 0%;
    overflow-x: hidden;
}

    .landing .landing-text {
        flex: 1;
        min-width: 65px;
    }

        .landing .landing-text h1 {
            width: 100%;
            font-size: 2.9em;
            line-height: 1.15;
        }


        .landing .landing-text p {
            font-size: 18px;
            max-width: 500px;
            margin: 0 0 29.41176px;
        }

.features {
    margin-top: 100px;
}

.url-shorten-results {
    margin-top: 380px;
}

.url-shorten-form {
    width: 100%;
    gap: 20px; /*the gap between the fill in box and the button*/
    flex-wrap: wrap;
    background: #c6dbe5 no-repeat right top; /*color box*/
    background-size: cover;
    padding: 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    transition: gap 0.3s;
    flex-direction: column; /* Stack children vertically */
    transform: translateY(350%);
    /*border: 2px solid #004a55;*/ /* Added border */
}

    .url-shorten-form > div {
        position: relative;
        flex: 1;
    }

    .url-shorten-form .url-input {
        width: 100%;
        font-family: "Poppins", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
        font-size: 18px;
        padding: 8px 10px;
        background: white;
        border: 2px solid transparent;
        border-radius: 6px;
        outline: none;
        transition: 0.2s;

    }

        .url-shorten-form .url-input::placeholder {
            font-family: "Poppins", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
            font-size: 16px;
            font-weight: 500;
            color: #9e9aa7;
        }

    .url-shorten-form .alert {
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        font-style: italic;
        font-size: 16px;
        color: #fe735c;
        opacity: 0;
        transition: 0.2s opacity;
    }

    .url-shorten-form .btn {
        text-align: center;
        border-radius: inherit;
        white-space: nowrap;
        font-size: 16px;
        color: white;
        background-color: #004a55; /*button color*/
        cursor: pointer;
    }

.input-row {
    display: flex;
    gap: 20px; /* space between input and button */
    margin-bottom: 5px;
}
    .input-row .btn {
        width: 200px;
        text-align: center;
        border-radius: 6px;
    }

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.delete_btn {
    background-color: #ff9a94;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}
    .delete_btn:hover {
        color: white;
        background-color: #c95e57 !important;
        cursor: pointer;
    }

.table td:nth-child(4), /* Click Count column */
.table th:nth-child(4) {
    text-align: center;
}

.table th,
.table td {
    vertical-align: middle;
}

header > nav {
    background-color: #c6dbe5 !important;
}

.border-bottom {
    border-bottom: 1px solid #c6dbe5 !important;
}

.nav-item:hover {
    color: white;
    background-color: #c95e57 !important;
    cursor: pointer;
}

div.form-group > label {
    font-size: 14px;
    font-weight: 500;
}

    div.form-group > label > span {
        color: #c6dbe5;
    }

hr {
    border-top: 1px solid #c6dbe5;
}



